@charset "utf-8";
/* CSS Document */
/* what's on link classes */
#wso_bottom_links{
	padding-left:370px;
	padding-top:5px;
}

#wso_weekly-link, .module a.viewFavorite {
	padding-right:20px;	
	font-size:12px;
}

/*what's on fav icon classes */
.module .module-content-iframe a.channel-favorite {
  background: url("../img/global/icons.png") no-repeat scroll 0 0;
  display: inline-block;
  height: 3px;
  margin: 0 0 -2px;
  width: 18px;
}

.module .module-content-iframe a.channel-favorite{
    background-position:0 -65px;
}

.module .module-content-iframe a.channel-favorite:hover {
    background-position:0 -91px !important;
}

.module .module-content-iframe a.channel-favorite-active:hover,
.module .module-content-iframe a.channel-favorite-active{
    background-position:0 -39px !important;
}

/* what's on padding */
.module .module-content-iframe {
	padding: 15px 20px;
	background-color:#fff;
	border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
}

#wso_wrapper{
	overflow:auto;
}
