/* Open w/ RR */



.home #main .contentRR{

    padding:20px;

    background:#fff;

	width:705px;

    float:left;

    margin:0 0 0 0;

}



.open-content #main .contentRR{

    padding:20px;

    background:#fff;

	width:705px;

    float:left;

    margin:0 0 0 0;

}





/* Right Rail sidebar */



.sidebar {

	width:221px;

	float:right;

	position:relative;

	top:-240px;

	right:0px;

	z-index:200;

}

.sidebar a {

/*	color:#fff;*/

}



.sidebar h2 {

	background:url("../img/sidebar/bg-rounded-sidebar.png") no-repeat;

	color:#fff;

	font-size:14px;

	padding:7px 7px 7px 21px;

	

}



.sidebar .module {

	padding:0 0 0px 0;

	margin-top:15px;

	width:221px;

}



.sidebar .module a {

	font-size:11px;

	font-weight:bold;

/*	color:#75c7fa;*/

	line-height:1em;

}



.sidebar .module p {

	font-size:11px;

	color:#666;

	line-height:1.5em;

	display:block;

	/*background:#fff;*/

}



.sidebar .module .module-content {

	position:relative;

	padding:20px 20px 20px 20px;

	/*background:#fff;*/

}



.sidebar .module-content .you-may-like {

	display:block;

	}



.sidebar .module .module-content-rr {

	position:relative;

	padding:10px 10px 10px 10px;

	/*background:#fff;*/

}

.sidebar .module .module-content-oc {

	position:relative;

	padding:0px;

	/*background:#fff;*/

}

.sidebar .module .module-footer {.

	margin:5px 0 0 0;

	padding-bottom:10px;

	padding-left:20px;

	/*background:#fff;*/

}



.sidebar .module-footer a {

	float:left;

	margin-right: 20px;	

}



.sidebar .module .module-footer-rr {

	margin:5px 0 0 0;

	padding-bottom:5px;

	/*background:#fff;*/

}



.sidebar .module-footer-rr a {

	float:left;

	margin-right: 5px;	

}



.sidebar .module .module-content h3{

	display: block;

}



.sidebar .module .module-content h3 img{

	position:absolute;

	display:inherit;

	margin-top:4px;

	vertical-align:middle;

}



.sidebar .rr-nav {

	background:none;

	font-weight:bold;

	font-size:12px;
	overflow:auto;

}



.sidebar .rr-nav ul {

	margin:0;	

}





@media screen and (-webkit-min-device-pixel-ratio:0) {

	.sidebar .rr-nav ul {

      	margin:5px 0 0 0;

      }

}



.ie .sidebar .rr-nav ul {

	padding-top:0;

	margin-top:0;

}



.ie6 .sidebar .rr-nav ul {

	margin-bottom:20px !important;

}



.ie6 .sidebar .rr-nav ul li {

	zoom:1;

}



.sidebar .rr-nav ul li.subCategory {

	background-position:20px bottom;

	background-repeat:no-repeat;

}



.sidebar .rr-nav ul p.what-youll-hear{

	/*color:#fff;*/

	font-weight:normal;

	padding:12px 15px 15px 20px;

	/*background:#1190d9;	*/

	position:relative;

}



.sidebar .rr-nav ul li.last {

	background-image:none;

}



/*.connect-overlay{  this is the connect box associated with the what youll hear section 

	position:relative;

	top:-5px;

	z-index:1000;

} */



.sidebar .rr-nav ul li.category {

/*background-position: 185px -26px; */
background-position: 0px 0px;
} 

.sidebar .connect{
background-position:0px -4px;
}


.sidebar .rr-nav ul li h3 {

	font-size:14px;

	padding:10px 10px 10px 20px;

	position:relative;

}



.ie .sidebar .rr-nav ul li h3 {

	padding:8px 10px 8px 20px;

}



.sidebar .rr-nav ul li h3 a {	

	display:inline;

	padding:0 14px 0 0;

	float:right;

	color:#6cc8fc;

}



.ie .sidebar .rr-nav ul li h3 a {

	float:right;

	position:absolute;

	right:12px;

	top:8px;

}



.ie6 .sidebar .rr-nav ul li h3 a {

	top:0px;

}



.sidebar .rr-nav ul li a {

	font-size:12px;

	display:block;

	text-decoration:none;

	/*background:url("../img/sidebar/rr-nav-arrow.png") no-repeat 185px 18px;*/

	padding:10px 15px 10px 21px;

	/*color:#62c7fa;*/

	background-repeat:no-repeat;

	background-position:185px 18px;

}



.sidebar .rr-nav ul li.phone {

	font-size:12px;

	display:block;

	text-decoration:none;

	padding:10px 15px 10px 21px;

	color:#FFF;

}



.sidebar .rr-nav ul li.phone span {

background-position: 185px -26px;

	background-repeat:no-repeat;

}



.ie6 .sidebar .rr-nav ul li a {

/*    background-image:url("../img/sidebar/rr-nav-arrow-ie.png");*/

	padding:10px 15px 10px 21px;

}



.sidebar .rr-nav ul li a div{

	color:#fff;

	display:inherit;

	padding-left:18px;

}

.sidebar .module .module-header {
	color:#fff;
	font-size:14px;
	padding:7px 7px 7px 20px;
}

.sidebar .module .module-header .header {
	font-weight:bold;
	font-size:14px;
	padding:7px 7px 7px 0px;
}

.sidebar .rr-nav ul li a:hover {

	

	background-position: 185px -126px;

}



.phone {

	cursor:default;

}



/* products */



.price{

    font-size:22px;

	font-weight:bold;

	padding-bottom:10px;

	color:#000;

}



.price-cents{

    font-size:12px;

	font-weight:bold;

	vertical-align:top;

	position: relative;

	vertical-align: baseline;

	top: -0.5em;

	color:#000;

}





/* polls */



.poll-result .share {

	margin-top:10px;

}



.poll-result ul li {

	width:221px !important;

	margin-bottom:10px;

}



.poll-result ul li h5 {

	float:left;

	font-size:12px;

	width:80px;

}



.poll-result ul li h5 span {

	color:#666;

	font-weight: normal;

	margin-left:3px;

}



.poll-result ul li div.bar {

	width:200px;

	background-color:#fff;

	height:20px;

	float:left;

}



.poll-result ul li div.bar span {

	background:url("../img/global/bg-poll-result.png") repeat-x;

	display:block;

	height:20px;



}



.module .poll-rr p {

	font-size:11px;

}



form.poll label {

	margin-right:15px;

	display:inline;

}



form.poll .form-inputs {

	position:relative;

	

}



form.poll .form-inputs ul li {

	color:#666;

	background:#fff;

	padding:10px;

	font-size:11px;	

}



form.poll .error {

	background-color:#fff;

	padding:10px 0px 10px 0px;

}



form.poll .error-message, form .error label {

	color:#ff0000;

	font-weight:bold;

	font-size:11px;

}





form.poll .error-message {

	position:absolute;

	left:0;

	top:0;

	display:none;

}



.module .module-content .form-inputs ul li {

	float:left;

}



.ie6 .module .module-content .form-inputs ul {

	display:inline;

}



.module .module-content .form-inputs ul.last {

    border-right:none;

}



.module .module-content .form-inputs li {

    padding:10px 0;

    font-size:11px;

}





/* top-channels */



.top-channels {

	padding-bottom:10px;

}



.top-channels img {

	padding:20px;

}



.top-channels a {

	color:#000;

}



.top-channels a:hover {

	text-decoration:underline;

}



.top-channels ul  {

	margin-left:0;

	padding:20px 20px 0px 0px;

}



.top-channels ul li {

	margin-bottom:10px;

	background:#fff;

}



.top-channels ul li.last {

	margin-bottom:0px;

	background:#fff;

}



.top-channels ul li span.number {

	color:#bdbdbd;

	font-size:20px;

	margin:0 10px 0 0;

	float:left;

	font-weight:normal;

	width:25px;

	background:#fff;

}



.sidebar .module .module-content .top-channels ul li div {

	float:left;

	font-size:11px;

	color:#333;

	width:125px;

}



.sidebar .module .module-content .top-channels ul li strong {

	display:block;

}



.sidebar .module .module-content .top-channels .share {

	margin-left:20px;

}



.ie6 .sidebar .module .module-content .top-channels .share {

	margin-left:12px;

}



.sidebar .module .module-content .top-channels .share a {

	color:#11AAFF;

}



.update {

	font-size:9px;

	padding:4px 15px 0px 0px

}



.week-of {

	font-weight:bold;

	font-size:12px;

	color:#005b8f;

	padding:0px 15px 0px 0px

}



/*slideshow */



.slideshow .navigation-rr {

	width:200px;

}



.slideshow .navigation-rr .counter {

	width:100px;

	margin:0 auto;

	font-weight:bold;

	color:#999;

}



.slideshow .navigation-rr a {

	width:9px;

	height:18px;

	text-indent: -9999px;

}



.slideshow .navigation-rr .prev {

	float:left;

	background:url("../img/homepage/carousel/carousel_arrows.png") no-repeat;

}



.slideshow .navigation-rr .next {

	float:right;

	background:url("../img/homepage/carousel/carousel_arrows.png") no-repeat 0 -22px;

}



.module-bot-border-rr ul {

	display:block;

}



.module-bot-border-rr li.first{

	height:auto;

	min-height:48px;

	margin-top:0px;

	padding-bottom:5px;

}



.module-bot-border-rr li {

	display:block;

	height:auto;

	min-height:48px;

	border-bottom:1px #eee solid;

	padding:0px 0px 8px 0px;

	margin-top:8px;

	/*padding-bottom:5px;*/

}



.module-bot-border-rr li.last{

	border-bottom:none;

	padding:0px;

	height:auto;

	min-height:48px;

}



.subscriber-rr {

    width:180px;

    float:left;

}



.subscriber-rr ul{

    width:180px;

}



.subscriber-rr li{

	display:block;

	border-bottom:1px #eee solid;

	padding:0px 0px 8px 0px;

}



.subscriber-rr li.last{

	border-bottom:none;

	padding:8px 0px 0px 0px;

}



.subscriber-rr li a{

    display:block;

    font-size:11px;

    padding:8px 0;

    font-weight:bold;

    background:url(../img/help-center/arrows.png) no-repeat 165px center;

}



.subscriber-rr li a:hover{

    background-position:-135px center;

}



/*TWITTER */

.twtr-doc {

border-bottom-left-radius: 0px 0px !important;

border-bottom-right-radius: 0px 0px !important;

border-top-left-radius: 0px !important;

border-top-right-radius: 0px !important;

-moz-border-radius-bottomleft:0px !important;

-moz-border-radius-bottomright:0px !important;

-moz-border-radius-topleft:0px !important;

-moz-border-radius-topright:0px !important;



}

.twtr-hd {

overflow:hidden !important;

padding:0px !important;

position:relative !important;

}

.twtr-bd {

padding: 0px !important;

}



.twtr-timeline {

border-top-left-radius: 0px !important;

border-top-right-radius: 0px !important;

border-bottom-left-radius: 0px !important;

border-bottom-right-radius: 0px !important;

-moz-border-radius-bottomleft:0px !important;

-moz-border-radius-bottomright:0px !important;

-moz-border-radius-topleft:0px !important;

-moz-border-radius-topright:0px !important;

}









 



