#sxm-header {
	background-color: #FFF;
	width: 100%;
	position: relative;
	box-shadow: 0px 0px 1px 1px #eeeeee;
	border-bottom: #F3F3F3;
}

#sxm-header.sxm-bootstrap a {
	font-weight: normal;
	border-bottom: 0px;
}

#sxm-header ul,
#sxm-header li,
#footer-container ul,
#footer-container li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#sxm-header li,
#sxm-header a,
#sxm-header input {
	font-family: "Roboto", sans-serif;
	outline: 0;
}

#sxm-header .primary-nav,
#sxm-header .secondary-nav {
	display: none;
}

#sxm-header .flyout-group .flyout-group-image {
	width: 100%;
	display: inline-block;
	background-size: cover;
	background-position: center;
	height: 150px;
	font-size: 0px;
}

#sxm-header .primary-nav li.primary-item a.item-title {
	border: 3px solid transparent;
	border-width: 0 0 3px 0;
}

#sxm-header .blog-post-excerpt {
	margin: .55em 0 0 0;
}

#sxm-header .menu-icon {
	display: block;
	float: left;
	font-size: 10px !important;
	padding: 26px 0px 0px 16px;
	width: 44px;
	height: 45px;
	color: #005581;
}

#sxm-header.sxm-bootstrap a.menu-icon,
#sxm-header.sxm-bootstrap a.menu-icon:hover,
#sxm-header.sxm-bootstrap a.menu-icon:focus {
	text-decoration: none;
}

#sxm-header .menu-icon span {
	background: #005581;
	display: block;
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
}

#sxm-header .menu-icon span,
#sxm-header .menu-icon span:before,
#sxm-header .menu-icon span:after {
	width: 100%;
	height: .2em;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform: translate3d(0, 0, 0);
	text-align: left;
}

#sxm-header .menu-icon span:before,
#sxm-header .menu-icon span:after {
	background: #005581;
	content: " ";
	margin-top: -.6em;
	position: absolute;
	left: 0px;
}

#sxm-header .menu-icon span:after {
	margin-top: .6em;
}

#sxm-header .menu-icon.on span {
	background: transparent;
}

#sxm-header .menu-icon.on span:before {
	-moz-transform: rotate(45deg) translate(.5em, .4em);
	-ms-transform: rotate(45deg) translate(.5em, .4em);
	-o-transform: rotate(45deg) translate(.5em, .4em);
	-webkit-transform: rotate(45deg) translate(.5em, .4em);
	transform: rotate(45deg) translate(.5em, .4em);
}

#sxm-header .menu-icon.on span:after {
	-moz-transform: rotate(-45deg) translate(.45em, -.35em);
	-ms-transform: rotate(-45deg) translate(.45em, -.35em);
	-o-transform: rotate(-45deg) translate(.45em, -.35em);
	-webkit-transform: rotate(-45deg) translate(.45em, -.35em);
	transform: rotate(-45deg) translate(.45em, -.35em);
}

#sxm-header .menu-icon p {
	font-size: 10px;
	padding-top: 10px;
	color: #005581;
	text-decoration: none;
}

#sxm-header .mobile-header-bar {
	background-color: #FFF;
	height: 60px;
	width: 100%;
	z-index: 1;
}

#sxm-header .mobile-header-bar .header-logo {
	width: 170px;
	display: block;
	margin: 0 auto;
}

#sxm-header .mobile-header-bar .header-logo img {
	margin-top: 7px;
	width: 170px;
}

#sxm-header .slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 256px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
}

#sxm-header .slideout-panel {
	position: relative;
	z-index: 1;
}

#sxm-header .slideout-open,
#sxm-header .slideout-open body,
#sxm-header .slideout-open .slideout-panel {
	overflow: hidden;
}

#sxm-header .slideout-open .slideout-menu {
	display: block;
}

#sxm-header .mobile-nav-drawer .sidebar-nav {
	background: #4A5860;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#sxm-header .mobile-nav-drawer .sidebar-nav li {
	background: #f1f2f3;
	text-indent: 35px;
	line-height: 40px;
}

#sxm-header .mobile-nav-drawer .sidebar-nav li.acct-help {
	background-color: #CEEEFE;
}

#sxm-header .mobile-nav-drawer .sidebar-nav li a {
	font-size: 14px;
	line-height: 60px;
	color: #1072ba;
	font-weight: bold;
}

#sxm-header .mobile-nav-drawer .sidebar-nav #search {
	padding: 10px;
	margin: 0px;
	position: relative;
	top: 0px;
	right: 0px;
}

#sxm-header .mobile-nav-drawer .sidebar-nav #search .search-input {
	width: 95%;
	background: url(/sxm/img/global/header/ico_search.png) no-repeat 2px 8px #ffffff;
	background-size: 16px;
	border: none;
	color: #808080;
	font: 16px/24px arial, sans-serif;
	font-weight: normal;
	padding: 5px;
	padding-left: 25px;
}

#sxm-header .mobile-nav-drawer .sidebar-nav>li>a {
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #cbcbcb;
	font-size: 20px;
	color: #333;
	line-height: 44px;
	font-weight: 400;
}

#sxm-header .mobile-nav-drawer .sidebar-nav>li>a:hover {
	text-decoration: none;
	background: rgba(255, 255, 255, 0.75);
}

#sxm-header .mobile-nav-drawer .sidebar-nav>li>a:active,
#sxm-header .mobile-nav-drawer .sidebar-nav>li>a:focus {
	text-decoration: none;
}

#sxm-header .mobile-nav-drawer .sidebar-nav li,
#sxm-header .mobile-nav-drawer .sidebar-nav a {
	color: #333;
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 44px;
}

#sxm-header .mobile-nav-drawer .sidebar-nav>.sidebar-brand {
	background: #0070bd;
	color: #fff;
	height: 65px;
	font-size: 18px;
}

#sxm-header .mobile-nav-drawer .sidebar-nav li.sidebar-brand {
	background: #fff;
	text-indent: 0px;
	line-height: 16px;
	height: 60px;
}

#sxm-header .mobile-nav-drawer .sidebar-nav>.sidebar-brand a {
	color: #fff;
}

#sxm-header .mobile-nav-drawer .sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#sxm-header .mobile-nav-drawer {
	position: fixed;
	top: 0px;
	left: -100%;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: #efefef;
	z-index: 1000;
}

#sxm-header .mobile-nav-drawer .sxm-menu-toggle {
	position: absolute;
	top: 12px;
	right: 10px;
	display: inline-block;
	padding: 6px 9px 5px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	background: #222;
	color: #999;
	text-decoration: none;
	vertical-align: top;
}

#sxm-header .mobile-nav-drawer .sxm-menu-toggle:hover {
	color: #fff;
}

#sxm-header .btn.btn-sm.btn-primary-blue {
	font-style: normal;
	padding: 10px 27px !important;
  font-size: 15px;
  line-height: 1.25;
  border-radius: 4px;
	border: none;
	color: #ffffff;
}

#sxmcorporatefooter-r a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, .3);
}

#sxmcorporatefooter-r {
	padding: 0 0 10px;
	clear: both;
	position: relative;
	margin: 0 auto;
	border: none;
	font-weight: normal;
}

#footer-container {
	padding-top: 55px;
	padding-bottom: 10px;
	background-color: #FFF;
	box-shadow: 0px -2px 5px #eee;
}

#sxmcorporatefooter-r {
	
}

#sxmcorporatefooter-r .row {
	/*width: 265px;*/
	margin: 0 auto;
	background-color: #FFF;
}

#sxmcorporatefooter-r .section {
	font-family: Roboto, sans-serif;
	color: #000;
	margin-bottom: 50px;
	margin-left: 20px;
    width: 80%;
}

#sxmcorporatefooter-r .contact {
	margin-left: 20px;
    width: 80%;
}

/*#sxmcorporatefooter-r .col-sm-3 .section:first-child {
	margin-top: 20px;
}*/

#sxmcorporatefooter-r h4 {
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	margin-top: 0px;
}

#sxmcorporatefooter-r .contact h4 {
	font-size: 14px;
	font-weight: 400;
	color: #707070;
}

#sxmcorporatefooter-r .section ul li {
	font-size: 12px;
	line-height: normal;
	color: #000;
	text-align: left;
	margin: 15px 0px;
}

#sxmcorporatefooter-r .section a {
	font-weight: 400;
	color: inherit;
	text-decoration: none;
	border-bottom: 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0) !important;
	font-size: 15px;
	line-height: inherit;
}

@media (min-width: 768px) {
	#sxmcorporatefooter-r .section a {
		font-size: inherit;
	}
}


#sxmcorporatefooter-r .section a:hover {
	border-bottom: 1px solid #2EAFE0;
	color: #2EAFE0;
}

#sxmcorporatefooter-r .contact {
	font-family: Roboto, sans-serif;
	text-align: center;
	color: #000;
	padding-top: 20px;
}

#sxmcorporatefooter-r .contact a.footer-logo {
	background: url(/sxm/img/global/footer/footer-logo.png);
	display: block;
	width: 221px;
	height: 39px;
	overflow: hidden;
	text-indent: -1000px;
	margin: 0 auto;
	border-bottom: 0px;
}

#sxmcorporatefooter-r .contact ul li {
	display: inline-block;
	padding-right: 12px;
}

#sxmcorporatefooter-r .contact ul li:last-child {
	padding-right: 0;
}

#sxmcorporatefooter-r .contact a {
	border-bottom: 0px;
}

#sxmcorporatefooter-r .contact ul {
	text-align: left;
}

#sxmcorporatefooter-r .contact ul {
	margin-bottom: 40px;
}

#sxmcorporatefooter-r .contact ul.social li a {
	display: block;
	background: url(/sxm/img/global/footer/footerx2.png) no-repeat 0 0;
	background-size: 405px 119px;
	text-indent: -1000px;
	overflow: hidden;
	width: 36px;
	height: 36px;
}

#sxmcorporatefooter-r .contact ul.social li a.facebook {
	background-position: 0 0;
}

#sxmcorporatefooter-r .contact ul.social li a.twitter {
	background-position: -36px 0;
}

#sxmcorporatefooter-r .contact ul.social li a.linkedin {
	background-position: -72px 0;
}

#sxmcorporatefooter-r .contact ul.social li a.instagram {
	background-position: -108px 0;
}

#sxmcorporatefooter-r .contact ul.social li a.youtube {
	background-position: -144px 0;
}

#sxmcorporatefooter-r .contact ul.contact-us {
	max-width: 260px;
    margin: 0;
	margin-bottom: 40px;
}

#sxmcorporatefooter-r .contact ul.contact-us li {
	font-size: 12px;
	text-align: center;
	color: #707070;
	text-align: center;
}

#sxmcorporatefooter-r .contact ul.contact-us li a {
	display: block;
	background: url(/sxm/img/global/footer/footerx2.png) no-repeat 0 0;
	background-size: 405px 119px;
	width: 37px;
	height: 37px;
	text-indent: -1000px;
	overflow: hidden;
	font-size: 0px;
	margin: 0px auto;
	margin-bottom: 5px;
}

#sxmcorporatefooter-r .contact ul.contact-us li a.chat {
	background-position: 0px -36px;
}

#sxmcorporatefooter-r .contact ul.contact-us li a.call {
	background-position: -37px -36px;
}

#sxmcorporatefooter-r .contact ul.contact-us li a.message {
	background-position: -74px -36px;
}

#sxmcorporatefooter-r .contact ul.contact-us li a.help {
	background-position: -111px -36px;
}

#sxmcorporatefooter-r .contact ul.listen li {
	display: block;
	padding-right: 0px;
	margin-bottom: 10px;
}

#sxmcorporatefooter-r .contact ul.listen li a {
	display: block;
	background: url(/sxm/img/global/footer/footerx2.png) no-repeat 0 0;
	background-size: 405px 119px;
	text-indent: -1000px;
	overflow: hidden;
	width: 135px;
	height: 40px;
}

/*#sxmcorporatefooter-r .contact ul.listen li a.laptop {
	background-position: 0 0;
}*/

#sxmcorporatefooter-r .contact ul.listen li a.itunes {
	background-position: 0px -76px;
}

#sxmcorporatefooter-r .contact ul.listen li a.playstore {
	background-position: -135px -76px;
}

#sxmcorporatefooter-r .contact ul.listen li a.amazon {
	height: 46px;
	background-position: -270px -73px;
}

#footer-container div.copyright {
	padding: 25px 4% 20px;
	color: #000;
}

#footer-container div.copyright p {
	text-align: center;
	font-size: 12px;
	font-family: Roboto, sans-serif;
}

#footer-container div.copyright a {
	font-weight: 400;
	color: #707070;
	text-decoration: none;
	border-bottom: 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0) !important;
}

#footer-container div.copyright a:hover {
	color: #2EAFE0;
	border-bottom: 1px solid #2EAFE0;
	text-decoration: none;
}

#footer-container .contact .col-xs-12 {
	padding: 0px !important;
}

@media (min-width: 768px) and (max-width: 992px) {
	#footer-container #sxmcorporatefooter-r .col-sm-6:nth-child(1),
	#footer-container #sxmcorporatefooter-r .col-sm-6:nth-child(2) {
		height: 400px;
	}
	
	#footer-container #sxmcorporatefooter-r .col-sm-6:nth-child(3) {
		width: 100%;
		height: 250px;
		margin-top: 40px;
	}
	
	#footer-container #sxmcorporatefooter-r .col-sm-6:nth-child(3) .section {
		display: inline-block;
		float: left;
		width: 47%;
	}
	
	#footer-container #sxmcorporatefooter-r .col-sm-6:nth-child(3) .section:nth-child(2) {
		padding-left: 25px;
	}
	
	#footer-container #sxmcorporatefooter-r .col-sm-6:nth-child(4) {
		width: 100%;
	}
}

@media (max-width: 768px) {
	#footer-container div.copyright p {
		text-align: left;
	}
}

@media (min-width:768px) {
	#sxm-header .mobile-nav {
		display: none;
	}
	#sxm-header .primary-nav,
	#sxm-header .secondary-nav,
	#sxm-footer .footer-container {
		display: block;
	}
	#sxm-header .primary-nav {
		height: 80px;
		margin: 0 auto;
		max-width: 1190px;
		position: relative;
		background-color: #FFF;
		width: 100%;
	}
	#sxm-header .primary-nav a.logo {
		height: 80px;
	}
	#sxm-header .primary-nav a.logo img {
		height: auto;
		width: 180px;
		float: left;
		margin-top: 20px;
		margin-right: 20px;
		margin-left: 20px;
	}
	#sxm-header .primary-nav ul.primary-nav-wrapper {
		float: right;
		height: 56px;
		width: 532px;
		display: table;
		margin-bottom: 0px;
	}
	#sxm-header .primary-nav li.primary-item {
		float: left;
		height: 80px;
		padding: 0 12px;
		font-size: 15px;
		text-align: center;
		line-height: 80px;
	}
	#sxm-header .primary-nav li.primary-item a.item-title {
		padding: 3px 0;
		color: #333;
		text-decoration: none;
		border-bottom: none;
	}
	#sxm-header .primary-nav li.primary-item a.item-title:hover,
	#sxm-header .primary-nav li.primary-item a.item-title.active {
		border-bottom: 3px solid #2EAFE0;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search {
		background: url(/sxm/img/global/header/ico_search.png) no-repeat 0 50% transparent;
		margin-left: 10px;
		text-indent: -9999px;
		width: 12px;
		padding: 0;
		background-size: 100%;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search:hover {
		background-image: url(/sxm/img/global/header/ico_search-hover.png);
		border-bottom: none;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search a.item-title {
		border-bottom: none;
		display: block;
		width: 100%;
		height: 100%;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search input[type=text] {
		border: none;
		border-bottom: 1px solid #CCC;
		display: none;
		font-size: 18px;
		position: absolute;
		right: 40px;
		top: 46px;
		height: 28px;
		width: 480px;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search.active {
		background-image: url(/sxm/img/global/header/ico_close-x.png);
	}
	#sxm-header .flyout-group .flyout-group-content {
		text-align: left;
		padding-left: 0;
	}
	#sxm-header .flyout-group .flyout-group-content h6,
	#sxm-header .flyout-group .flyout-group-content p {
		color: #717171;
	}
	#sxm-header .flyout-group .flyout-group-content h6 {
		font-size: 18px;
		font-weight: 700;
		padding-bottom: 0;
		margin-top: 0;
	}
	#sxm-header .flyout-group .flyout-group-content p,
	#sxm-header .flyout-group .flyout-group-content li {
		font-size: 12px;
		line-height: 16px;
		padding-bottom: 4px;
	}
	#sxm-header .flyout-group .flyout-group-content a,
	#sxm-header .flyout-group .flyout-group-content p.flyout-group-subheader {
		font-weight: 700;
	}
	#sxm-header .flyout-group .flyout-group-content p.flyout-group-subheader {
		line-height: 16px;
		margin-bottom: 0;
	}
	#sxm-header .flyout-group .flyout-group-content ul {
		padding-bottom: 18px;
	}
	#sxm-header .flyout-group .flyout-group-content ul:last-child {
		padding-bottom: 0;
	}
	#sxm-header .flyout-group .flyout-group-content a:hover {
		text-decoration: underline;
		border: none;
	}
	#sxm-header .primary-submenu-flyout {
		display: none;
		background: #eeeeee;
		background: -moz-linear-gradient(top, #eeeeee 0%, #f9f9f9 1%, #f9f9f9 100%);
		background: -webkit-linear-gradient(top, #eeeeee 0%, #f9f9f9 1%, #f9f9f9 100%);
		background: linear-gradient(to bottom, #eeeeee 0%, #f9f9f9 1%, #f9f9f9 100%);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f9f9f9', GradientType=0);
		position: relative;
		top: 120px;
		z-index: 5100;
		line-height: 1.2em;
	}
	#sxm-header .primary-submenu-flyout {
		position: absolute;
		top: 80px;
		width: 98%;
		right: 1%;
		padding: 20px;
	}
	#sxm-header .primary-submenu-flyout.flyout-single {
		width: 52%;
	}
	#sxm-header .primary-submenu-flyout .flyout-group img {
		width: 100%;
		height: auto;
	}
	#sxm-header .secondary-nav {
		background-color: #CEEEFE;
		height: 30px;
	}
	#sxm-header .secondary-nav-wrapper {
		margin: 0 auto;
		max-width: 1190px;
		position: relative;
	}
	#sxm-header .secondary-item {
		float: right;
		height: 30px;
		line-height: 30px;
	}
	#sxm-header .secondary-item a.item-title {
		background-repeat: no-repeat;
		background-position: 12px center;
		color: #333;
		display: block;
		font-size: 12px;
		text-decoration: none;
		padding-left: 35px;
		padding-right: 25px;
		height: 100%;
	}
	#sxm-header .secondary-item a.item-title:hover,
	#sxm-header .secondary-item a.item-title.active {
		background-color: #F9F9F9;
	}
	#sxm-header .secondary-item.secondary-item-account a.item-title {
		background-image: url(/sxm/img/global/header/ico_profile.png);
	}
	#sxm-header .secondary-item.secondary-item-help a.item-title {
		background-image: url(/sxm/img/global/header/ico_help.png);
	}
	#sxm-header .secondary-submenu-flyout {
		display: none;
		position: absolute;
		width: 100%;
		background-color: #F9F9F9;
		top: 30px;
		right: 0;
		box-shadow: 0px 4px 12px -7px #7F7F7F;
		z-index: 1000;
		padding: 20px;
	}
	#sxm-header .secondary-item.secondary-item-account .secondary-submenu-flyout {
		width: 682px;
	}
	#sxm-header .secondary-submenu-flyout .flyout-group {
		padding-right: 0;
	}
	#sxm-header .btn {
		height: auto;
		text-indent: 0;
	}
	#sxm-header .flyout-group .flyout-group-content a.btn-primary-blue {
		background: none;
		background-color: #0072BA;
		box-shadow: none;
	}
	#sxm-header .flyout-group.help-refresh .flyout-group-content p {
		font-size: 14px;
		line-height: 20px;
		padding-right: 95px;
		padding-bottom: 16px;
		background: url(/sxm/img/global/header/ico_satellite.png) no-repeat right top transparent;
		max-width: 190px;
	}
	#sxm-header .flyout-group.help-refresh .flyout-group-content a {
		text-decoration: none;
	}
	#sxm-header .flyout-group.help-refresh .flyout-group-content a:hover {
		background-color: #0094D0;
	}
	#sxmcorporatefooter-r {
		
	}
	#sxmcorporatefooter-r .row {
		width: auto;
	}
	/*#sxmcorporatefooter-r .contact {
		width: 221px;
	}*/
	#sxmcorporatefooter-r .contact {
		font-family: Roboto, sans-serif;
		text-align: center;
		color: #000;
		padding-top: 0;
	}
}

@media (min-width:992px) {
	#sxm-header .primary-nav a.logo img {
		height: 40px;
		width: 220px;
		margin-top: 20px;
		margin-left: 50px;
	}
	#sxm-header .primary-nav ul.primary-nav-wrapper {
		width: 644px;
	}
	#sxm-header .primary-nav li.primary-item {
		padding: 0 16px;
		font-size: 16px;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search {
		width: 18px;
		margin-left: 47px;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search input[type=text] {
		font-size: 20px;
		right: 60px;
		width: 600px;
	}
	#sxm-header .flyout-group .flyout-group-content h6 {
		font-size: 22px;
	}
	#sxm-header .primary-submenu-flyout.flyout-double {
		width: 98%;
		right: 1%;
	}
	#sxm-header .primary-submenu-flyout.flyout-single {
		width: 595px;
	}
	#sxm-header .primary-item-subscriptions .primary-submenu-flyout {
		/*right: 100px;*/
	}
	#sxm-header .primary-item-shop .primary-submenu-flyout {
		right: 20px;
	}
	#sxm-header .secondary-item a.item-title {
		font-size: 14px;
	}
	#sxm-header .flyout-group .flyout-group-content a.btn-blue {
		background-color: #0072BA;
		border-radius: 4px;
		color: #FFF;
		font-size: 14px;
		padding: 15px 40px;
	}
	#sxm-header .flyout-group.help-refresh .flyout-group-content p {
		padding-right: 105px;
		padding-bottom: 12px;
		background: url(/sxm/img/global/header/ico_satellite.png) no-repeat 120px top transparent;
		max-width: 220px;
	}
	#sxmcorporatefooter-r {
		width: 980px;
	}
	#sxmcorporatefooter-r .section {
		height: 202px;
	}
}

@media (min-width:1200px) {
	#sxm-header .primary-nav a.logo img {
		margin-right: 32px;
	}
	#sxm-header .primary-nav ul.primary-nav-wrapper {
		width: 852px;
	}
	#sxm-header .primary-nav li.primary-item {
		padding: 0 32px;
		font-size: 18px;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search {
		width: 25px;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search input[type=text] {
		font-size: 24px;
		line-height: 28px;
		width: 765px;
	}
	#sxm-header .primary-submenu-flyout.flyout-double {
		width: 100%;
		right: 0;
	}
	#sxm-header .secondary-nav-wrapper {
		margin: 0 auto;
		max-width: 1190px;
		position: relative;
	}
	#sxm-header .secondary-item {
		float: right;
		height: 30px;
		line-height: 30px;
	}
	#sxm-header .flyout-group .flyout-group-content h6 {
		font-size: 24px;
	}
	#sxm-header .flyout-group.help-refresh .flyout-group-content p {
		background: url(/sxm/img/global/header/ico_satellite.png) no-repeat 126px top transparent;
	}
}

.breadcrumb {
	display: block;
	top: 120px !important;
}

@media (min-width: 1200px) {
	#sxmcorporatefooter-r {
		width: 1200px;
	}
}

@media (min-width: 768px) {
	#sxm-header .secondary-submenu-flyout {
		padding: 35px 20px;
	}
	#sxm-header .flyout-group.help-refresh .flyout-group-content p {
		padding-right: 100px;
	}
	#sxm-header .secondary-item a.item-title {
		padding-left: 45px;
		padding-right: 25px;
		background-position: 14px center;
		font-size: 13px;
	}
	#sxm-header .flyout-group .flyout-group-content {
		padding-left: 15px;
	}
	#sxm-header .flyout-group .flyout-group-content h6 {
		padding-bottom: 7px;
	}
	#sxm-header .primary-submenu-flyout {
		padding-top: 35px;
	}
	#sxm-header .primary-submenu-flyout .flyout-group-content h6 {
		padding-bottom: 4px;
	}
	#sxm-header .primary-submenu-flyout {
		box-shadow: 0 4px 12px -7px #707070;
	}
}

#sxm-header .mobile-nav-drawer .sidebar-nav li.emptyMenu {
	text-indent: 0;
	line-height: normal;
}

@media (min-width:768px) {
	#sxm-header .primary-submenu-flyout {
		box-shadow: 0px 4px 12px -7px #7F7F7F;
	}
	#sxm-header .secondary-submenu-flyout.flyout-single {
		width: 682px;
		min-width: 0;
	}
	#sxm-header .primary-submenu-flyout.flyout-single {
		width: 595px;
		min-width: 0;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search input[type=text] {
		right: 20px;
		width: 500px;
		top: 20px;
		height: 45px;
	}
	#sxm-header .primary-nav li.primary-item a.item-title {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	#sxm-header .blog-post-excerpt-wrap {
		font-size: 12px !important;
	}
	#sxm-header .blog-post-excerpt-wrap p {
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
	}
	#sxm-header .primary-nav li.primary-item {
		max-width: 120px;
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
	#sxm-header .flyout-group .flyout-group-image {
		width: 100%;
		display: inline-block;
		background-size: cover;
		background-position: center;
		height: 150px;
	}
	#sxm-header .primary-nav li.primary-item a.item-title {
		border: 3px solid transparent;
		border-width: 0 0 3px 0;
	}
	#sxm-header .blog-post-excerpt {
		margin: .7em 0;
	}
}

@media (min-width:992px) {
	#sxm-header .primary-nav li.primary-item.primary-item-search {
		margin-left: 30px;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search input[type=text] {
		right: 35px;
		width: 630px;
	}
	#sxm-header .primary-submenu-flyout.flyout-single {
		width: 595px;
		min-width: 0px;
	}
	#sxm-header .secondary-submenu-flyout.flyout-single {
		width: 682px;
		min-width: 0px;
	}
	#sxm-header .primary-nav li.primary-item {
		max-width: 150px;
	}
}

@media (min-width:1200px) {
	#sxm-header .primary-nav li.primary-item {
		max-width: 170px;
	}
	#sxm-header .primary-nav li.primary-item>a {
		padding: 0 27px;
	}
	#sxm-header .primary-nav li.primary-item.primary-item-search input[type=text] {
		width: 760px;
		right: 55px;
	}
}

@media(max-width: 275px) {
	#sxm-header .mobile-header-bar .header-logo {
		float: right;
	}
}

#sxm-header .secondary-item-title {
	line-height: 30px !important;
}

#sxm-header .secondary-item-title:hover {
	border-bottom: 0px;
}

@media print {
	#sxm-header,
	#footer-container {
		display: none !important;
	}
}
