/*CSS for Video List Module */
#video-box-list {
position:relative;
   width:705px;
   height:268px;
}
.video-thumbnail-container {
position:absolute;
top:0px;
left:0px;
overflow:hidden;
height:268px;
width:480px;
background:#CCCCCC;
}
.video-thumbnail-container .thumb-caption {
position:absolute;
bottom:0px;
left:0px;
background:#000;
filter:alpha(opacity=80);
opacity: 0.8;
-moz-opacity:0.8;
color:#999999;
width:480px;
padding:10px 20px 10px 10px;
font-size:12px;
}

video-image-item {
position:absolute;
top:0px;
left:0px;
}
.video-hidden{
visibility:hidden;
}
.video-list-container {
position:absolute;
top:0px;
left:490px;
height:268px;
width:215px;
overflow:auto;
}

.video-item {
background:url(../img/homepage/video-list-divider.png) bottom no-repeat;
padding:10px 5px 10px 5px;
overflow:hidden;

}

.video-selected {
background:url(../img/homepage/video-list-divider-on.png) bottom no-repeat #006699;
padding:10px 5px 10px 5px;

}

.video-thumbnail-container .video-play, .image-link-list {
   position:absolute;
   display:block;
   width:480px;
   height:268px;
   z-index:20;
}

.video-list-container .video-play, .image-link-list {
height:auto;
}

.video-thumbnail-container .video-play .video-play-button{
    display:block;
    position:absolute;
    width:480px;
    height:268px;
    background:url(../img/homepage/btn-play-list.png) no-repeat 215px 115px;
    top:0px;
    left:0px;
    cursor:pointer;
    text-indent:-1000px;
    overflow:hidden;
}

.video-thumbnail-container .video-play:hover .video-play-button{
    background-position:215px -130px;
}
.video-thumbnail-container .video-thumbnail {
top:-45px;
position:absolute;
height:315px;
overflow:hidden;
}

.video-list-container p.loading{
    background:url(../img/global/loading.gif) no-repeat center center;
    height:268px;
	width:180px;
    overflow:hidden;
    text-indent:-1000px;
}